# Servidor
PORT=3001
FRONTEND_URL=http://localhost:3002

# Autenticação
JWT_SECRET="d3f9b2e4c8a74f16a1e5d0b7c6f8a9e2d4c1b3f7a8e6d5c9b2f4a7e1c8d6b3f5"
JWT_EXPIRES_IN="8h"

INITIAL_ADMIN_NAME="Administrador"
INITIAL_ADMIN_EMAIL="admin@helpdesk.local"
INITIAL_ADMIN_PASSWORD="HelpDesk@2026Inicio!"
# PostgreSQL do Supabase
DATABASE_URL="postgresql://postgres.ywdtzbjhfonsadgpjtae:%24g7P%2Bc%2FEn2hK%253v@aws-0-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.ywdtzbjhfonsadgpjtae:%24g7P%2Bc%2FEn2hK%253v@aws-0-us-east-1.pooler.supabase.com:5432/postgres"
